<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<!-- <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button> -->
		<ion-title>Login</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="formWrapper">
    <form [formGroup]="signinForm" (submit)="signinUser($event)">
		<ion-list padding *ngIf="showLogin">
			<ion-list>
				<h5 class="center" color="primary">Login</h5>
				<ion-item>
					<ion-label stacked>Email</ion-label>
					<ion-input formControlName="email" type="email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Password</ion-label>
					<ion-input  formControlName="password" type="password"></ion-input>
				</ion-item>
			</ion-list>
			<h5 class="center" color="primary" (click)="toggleShowLogin()">
				Forgotten Password ?
			</h5>
			<div padding>
				<button block ion-button text-uppercase>Login</button>
			</div>
		</ion-list>
		<ion-list padding *ngIf="!showLogin">
			<ion-list>
			<h5 class="center" color="primary">Forgotten Password ?</h5>
				<ion-item>
					<ion-label stacked>Email</ion-label>
					<ion-input type="email"></ion-input>
				</ion-item>
			</ion-list>
			<h5 class="center" color="primary" (click)="toggleShowLogin()">
				&#10094; 
				Back to Login
			</h5>
			<div padding>
				<button block ion-button text-uppercase>Submit</button>
			</div>
		</ion-list>
	</form>
</ion-content>