 <!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<!-- <ion-header>
	<ion-navbar danger>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Contacts</ion-title>
		<ion-buttons end>
			<button color="primary" ion-button outline icon-only
				(click)="openReport()">
				<ion-icon name="list"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button color="primary" ion-button outline icon-only
				(click)="openAddContact()">
				<ion-icon name="md-person-add"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button outline icon-only
				(click)="logoutUser()">
				<ion-icon name="log-out"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
    <ion-searchbar (ionInput)="getItemsOutC($event)" *ngIf="city == 'outCity'"
        placeholder="Search for name, city.." value="{{searchOutCValue}}">
    </ion-searchbar>
	<ion-searchbar (ionInput)="getItemsInC($event)"  *ngIf="city == 'inCity'"
		placeholder="Search for name, city.." value="{{searchInCValue}}">
	</ion-searchbar>
</ion-header>

<ion-content class="formWrapper">
	<div [ngSwitch]="city">
		<ion-list *ngSwitchCase="'inCity'">
			<ion-card class="decorCard" *ngFor="let contact of contactsInC">
				<ion-card-content class="paddingBottom0">
					<ion-row>
						<ion-col width-60>
							<h4 text-uppercase>
								<ion-icon name="person"></ion-icon> 
								{{contact.name}}
							</h4>
							<h4>
								<ion-icon class="color-orange" name="pin"></ion-icon> 
								<span class="color-orange" text-capitalize>
									{{contact.city}}
								</span>
							</h4>
							<h4>
								<ion-icon color="green" name="call"></ion-icon>
								{{contact.contactnumber}} 
								<ion-badge color="green">
									{{contact.totalCalls ? contact.totalCalls : 0}}
								</ion-badge>
							</h4>
						</ion-col>
						<ion-col width-10>
						</ion-col>
					</ion-row>
				</ion-card-content>
				<ion-item-divider class="topCardButtons">
					<button ion-button small outline item-left icon-left round 
						(click)="callNow(contact)">
						<ion-icon class="color-green" name="call"></ion-icon>
							Call
					</button>
					
					<button ion-button small outline item-right icon-left round 
						(click)="comingSoon()">
						<ion-icon class="color-whatsapp" name=logo-whatsapp></ion-icon>
							WhatsApp
					</button>
					
				</ion-item-divider>
			</ion-card>
		</ion-list>
		<ion-list *ngSwitchCase="'outCity'">
			<ion-card class="decorCard" *ngFor="let contact of contactsOutC">
				<ion-card-content class="paddingBottom0">
					<ion-row>
						<ion-col width-60>
							<h4 text-uppercase>
								<ion-icon name="person"></ion-icon> 
								{{contact.name}}
								<ion-badge color="orange" *ngIf="contact.filled">
									{{contact.filled ? contact.filled : 0}}
								</ion-badge>
							</h4>
							<h4>
								<ion-icon name="train"   *ngIf="contact.arrivedBy=='train'"></ion-icon>
								<ion-icon name="jet"     *ngIf="contact.arrivedBy=='flight'"></ion-icon>
								<ion-icon name="ios-bus" *ngIf="contact.arrivedBy=='bus'"></ion-icon> 
								<span>
									by 
									<span class="color-orange" text-capitalize>
										{{contact.arrivedBy ? contact.arrivedBy : 'ND'}} 
									</span>
								</span>
								from 
								<span class="color-orange" text-capitalize>
									{{contact.city}}
								</span>
								<ion-datetime required displayFormat="DD MMM, YYYY h:mm A"
									min="2017-01-12" max="2017-01-17" [(ngModel)]="contact.arrivalTime" 
									disabled="true" 
									*ngIf="contact.arrivalTime" 
									style="padding:5px 0px;">
								</ion-datetime>
							</h4>
							<h4 *ngIf="contact.arrivalDetail">
								<ion-icon class="color-orange" name="pin"></ion-icon> 
								{{contact.arrivalDetail}}
							</h4>
							<h4>
								<ion-icon color="green" name="call"></ion-icon>
								{{contact.contactnumber}} 
								<ion-badge color="green">
									{{contact.totalCalls ? contact.totalCalls : 0}}
								</ion-badge>
							</h4>
						</ion-col>
						<ion-col width-10>
							<h4 text-capitalize style="float:right;">
								<button ion-button outline icon-only small
									(click)="openEditContact(contact.contactId)">
									<ion-icon name="create"></ion-icon>
								</button>
							</h4>
							<h4>&nbsp;</h4>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col width-70>
							<h4 text-uppercase class="color-danger">
								<ion-icon name="home"></ion-icon> 
								<small class="{{contact.selectHotel ? '' : 'color-muted'}}">
									{{contact.selectHotel ? CMN.hotelName[contact.selectHotel] : 'NOT ALLOTED'}}
								</small>
							</h4>
						</ion-col>
						<ion-col width-30>
							<h4 text-capitalize style="float:right;">
								<ion-badge color="danger">
									<ion-icon name="ios-grid-outline">{{contact.roomNumber}}</ion-icon>
								</ion-badge>
							</h4>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col width-50 *ngIf="contact.bookingForDay">
							<ion-icon color="primary" name="{{contact.bookingForDay['1'] ? 'checkmark-circle' : 'close-circle'}}">
								16</ion-icon>
							<ion-icon color="primary" name="{{contact.bookingForDay['2'] ? 'checkmark-circle' : 'close-circle'}}">
								17</ion-icon>
						</ion-col>
						<ion-col width-50 *ngIf="contact.checkInOut" class="color-primary">
							{{(contact.checkInOut == ''         ? 'Not Checked In' : '')}}
							{{(contact.checkInOut == 'checkIn'  ? 'Checked In'     : '')}}
							{{(contact.checkInOut == 'checkOut' ? 'Checked Out'    : '')}}
						</ion-col>
					</ion-row>
					<ion-row *ngIf="contact.remark">
						 {{contact.remark}}
					</ion-row>
				</ion-card-content>
				<ion-item-divider class="topCardButtons">
					<button ion-button small outline item-left icon-left round 
						(click)="callNow(contact)">
						<ion-icon class="color-green" name="call"></ion-icon>
							Call
					</button>
					
					<button ion-button small outline item-right icon-left round 
						(click)="comingSoon()">
						<ion-icon class="color-whatsapp" name=logo-whatsapp></ion-icon>
							WhatsApp
					</button>
					
				</ion-item-divider>
			</ion-card>
		</ion-list>
	</div>
</ion-content>
<ion-footer>
	<div padding>
		<ion-segment [(ngModel)]="city">
			<ion-segment-button value="outCity" tappable>
				Out City
			</ion-segment-button>
			<ion-segment-button value="inCity" tappable 
			    (click)="this.getContactsIn(1000, 'indore')">
				In City
			</ion-segment-button>
		</ion-segment>
	</div>
</ion-footer> -->