<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<!-- <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button> -->
		<ion-title>Contacts</ion-title>
		<ion-buttons end>
			<button color="primary" ion-button outline icon-only
				(click)="openReport()">
				<ion-icon name="list"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button outline icon-only
				(click)="logoutUser()">
				<ion-icon name="log-out"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-searchbar (ionInput)="getItemsInC($event)" 
		placeholder="Search for name, city.." value="{{searchInCValue}}">
	</ion-searchbar>
</ion-header>

<ion-content class="formWrapper">
	<ion-card class="decorCard" *ngFor="let contact of contactsInC">
		<ion-card-content class="paddingBottom0">
			<ion-row>
				<ion-col width-60>
					<h4 text-uppercase>
						<ion-icon name="person"></ion-icon> 
						{{contact.name}}
					</h4>
					<h4>
						<ion-icon class="color-orange" name="pin"></ion-icon> 
						<span class="color-orange" text-capitalize>
							{{contact.city}}
						</span>
					</h4>
					<h4>
						<ion-icon color="green" name="call"></ion-icon>
						{{contact.contactnumber}} 
						<ion-badge color="green">
							{{contact.totalCalls ? contact.totalCalls : 0}}
						</ion-badge>
					</h4>
				</ion-col>
				<ion-col width-10>
				</ion-col>
			</ion-row>
		</ion-card-content>
		<ion-item-divider class="topCardButtons">
			<button ion-button small outline item-left icon-left round 
				(click)="callNow(contact)">
				<ion-icon class="color-green" name="call"></ion-icon>
					Call
			</button>
			<!-- 
			<button ion-button small outline item-right icon-left round 
				(click)="comingSoon()">
				<ion-icon class="color-whatsapp" name=logo-whatsapp></ion-icon>
					WhatsApp
			</button>
			 -->
		</ion-item-divider>
	</ion-card>
</ion-content>