<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<ion-title>Report</ion-title>
	</ion-navbar>	
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getReport($event)"
        placeholder="Search for hotel name..">
    </ion-searchbar>
	<div *ngFor = "let hotel of hotels">
		<ion-list-header color="primary" text-uppercase>
			<h4 class="color-white ">{{hotel.hotelName}}</h4>
		</ion-list-header>
		<ion-row>
			<ion-item color="light">
				<ion-label>R No.</ion-label>
			</ion-item>
			<ion-item color="light">
				<ion-label>C</ion-label>
			</ion-item>
			<ion-item color="light">
				<ion-label>F</ion-label>
			</ion-item>
			<ion-item color="light">
				<ion-label>A</ion-label>
			</ion-item>
			<ion-item color="light">
				<ion-label>O</ion-label>
			</ion-item>
		</ion-row>
		<ion-row *ngFor = "let hotelRoom of hotelRooms[hotel.hotelId]">
			<ion-item (click)="openRoom(hotel.hotelId, hotelRoom.roomNo)">
				<ion-label color="primary">{{hotelRoom.roomNo}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>{{hotelRoom.capacity}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					{{roomStatusList[hotel.hotelId] ? 
						(roomStatusList[hotel.hotelId][hotelRoom.roomNo] ? 
							roomStatusList[hotel.hotelId][hotelRoom.roomNo].filled : '') : ''}}
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					{{roomStatusList[hotel.hotelId] ? 
							(roomStatusList[hotel.hotelId][hotelRoom.roomNo] ? 
								((hotelRoom.capacity - roomStatusList[hotel.hotelId][hotelRoom.roomNo].filled) > 0) ? 
								(hotelRoom.capacity - roomStatusList[hotel.hotelId][hotelRoom.roomNo].filled) : 'NOT' : '') : ''}}
				</ion-label>
			</ion-item>
			<ion-item>
				<ion-label>
					{{roomStatusList[hotel.hotelId] ? 
							(roomStatusList[hotel.hotelId][hotelRoom.roomNo] ? 
								((hotelRoom.capacity - roomStatusList[hotel.hotelId][hotelRoom.roomNo].filled) < 0) ? 
								(hotelRoom.capacity - roomStatusList[hotel.hotelId][hotelRoom.roomNo].filled) : 'NOT' : '') : ''}}
				</ion-label>
			</ion-item>
		</ion-row>
	</div>
</ion-content>