<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<ion-title>Edit Contact</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="formWrapper">
	<form [formGroup]="editContactForm" (submit)="editContact($event)">
		<ion-list padding>
			<ion-list>
				<h6>{{contact.name}}</h6>
				<ion-item>
					<ion-label>Select Hotel</ion-label>
					<ion-select formControlName="selectHotel" [(ngModel)]="contact.selectHotel">
						<ion-option *ngFor = "let hotel of hotels" value="{{hotel.hotelId}}">
							{{hotel.hotelName}}
						</ion-option>
					</ion-select>
				</ion-item>
				<ion-item *ngIf="contact.selectHotel">
					<ion-label>Select Room No.</ion-label>
					<ion-select formControlName="roomNumber" [(ngModel)]="contact.roomNumber">
						<ion-option *ngFor = "let hotelRoom of hotelRooms[contact.selectHotel]" 
							value="{{hotelRoom.roomNo}}">
							{{hotelRoom.roomNo}} &nbsp; | &nbsp; C{{hotelRoom.capacity}} : 
							
							F{{roomStatusList[contact.selectHotel] ? 
								(roomStatusList[contact.selectHotel][hotelRoom.roomNo] ? 
									roomStatusList[contact.selectHotel][hotelRoom.roomNo].filled : 0) : 0}}
							 : 
							{{roomStatusList[contact.selectHotel] ? 
									(roomStatusList[contact.selectHotel][hotelRoom.roomNo] ? 
										(hotelRoom.capacity - roomStatusList[contact.selectHotel][hotelRoom.roomNo].filled) ? 
										(hotelRoom.capacity - roomStatusList[contact.selectHotel][hotelRoom.roomNo].filled) : 0 : hotelRoom.capacity) : hotelRoom.capacity}}
						</ion-option>
					</ion-select>
				</ion-item>
				<ion-item *ngIf="contact.roomNumber">
					<ion-label stacked>No. of Member to Stay</ion-label>
					<ion-input formControlName="filled" type="number" placeholder="Enter No. of Member" 
						value="{{contact.filled}}"
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Arrived by</ion-label>
					<ion-select formControlName="arrivedBy" [(ngModel)]="contact.arrivedBy" required>
						<ion-option value="train">Train</ion-option>
						<ion-option value="flight">Flight</ion-option>
						<ion-option value="bus">Bus</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Arrival Detail</ion-label>
					<ion-input value="{{contact.arrivalDetail}}" formControlName="arrivalDetail" type="text" 
						placeholder="Enter flight/train name, no. etc.."
					></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Arrival time</ion-label>
					<ion-datetime required formControlName="arrivalTime" displayFormat="DD MMM, YYYY h:mm A" 
						[(ngModel)]="contact.arrivalTime" 
						 min="2017-01-12" max="2017-01-17"></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label>Check In-Out</ion-label>
					<ion-select formControlName="checkInOut" [(ngModel)]="contact.checkInOut" required>
						<ion-option value="">Not Check In Yet</ion-option>
						<ion-option value="checkIn">Check In</ion-option>
						<ion-option value="checkOut">Check Out</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label>16/01/2017</ion-label>
					<ion-checkbox formControlName="bookingForDay1" [(ngModel)]="contact.bookingForDay['1']"></ion-checkbox>
				</ion-item>
				<ion-item>
					<ion-label>17/01/2017</ion-label>
					<ion-checkbox formControlName="bookingForDay2" [(ngModel)]="contact.bookingForDay['2']"></ion-checkbox>
				</ion-item>
				<ion-item>
					<ion-label>Remark</ion-label>
					<ion-textarea formControlName="remark" value="{{contact.remark}}" rows="2" placeholder="Enter Remark"></ion-textarea>
				</ion-item>
			</ion-list>
			<div>
				<button block ion-button text-uppercase type="submit">
					Submit
				</button>
			</div>
		</ion-list>
	</form>
</ion-content>