<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>AN</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-list>
			<button ion-item *ngFor="let p of pages" (click)="openPage(p)">
				<ion-icon name="{{p.icon}}" class="btnIcon"></ion-icon>
				{{p.title[CMN.selLang]}}
			</button>
		</ion-list>
	</ion-content>
	<ion-footer *ngIf="pagesBottom.length > 0">
		<ion-list>
			<button ion-item *ngFor="let p of pagesBottom" (click)="openPage(p)">
				<ion-icon name="{{p.icon}}" class="btnIcon"></ion-icon>
				{{p.title}}
			</button>
		</ion-list>
	</ion-footer>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
