<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
			<ion-title>About VC
				<img src="img/czz.jpg" class="appLogoIcon"/>
			</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-list-header>
			About VC
		</ion-list-header>
		<ion-card-content margin class="padding0">
				The most popular industrial group ever, and largely
				responsible for bringing the music to a mass audience.
		</ion-card-content>
	</ion-card>
</ion-content>