<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:28DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Logout</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="formWrapper">
</ion-content>