<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Add Hotel</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="formWrapper">
	<form [formGroup]="addHotelForm" (submit)="addHotelInfo($event)">
		<ion-list padding>
			<ion-list>
				<h5 class="center" color="primary"></h5>
					<ion-item>
						<ion-label stacked>Hotel Name</ion-label>
						<ion-input formControlName="hotelName" type="text" placeholder="Enter hotel name"
							required></ion-input>
					</ion-item>
					 <ion-item>
						<ion-label stacked>City</ion-label>
						<ion-input formControlName="city" type="text" placeholder="Enter city"
							required></ion-input>
					</ion-item>
					<ion-item>
						<ion-label stacked>Address (optional)</ion-label>
						<ion-textarea rows="6"  formControlName="address" type="text" placeholder="Enter address"
							required></ion-textarea>
					</ion-item>
				<div padding>
					<button block ion-button text-uppercase type="submit">
						Submit
					</button>
				</div>
			</ion-list>
		</ion-list>
	</form>
</ion-content>