<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
			<ion-title>AN
				<img src="img/czz.jpg" class="appLogoIcon"/>
			</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div padding>
		<ion-segment>
			<ion-segment-button value="national" (click)="openNewsTop('national')">
				{{CMN.homeTabList.tab1[CMN.selLang]}}
			</ion-segment-button>
			<ion-segment-button value="state" (click)="openNewsTop('state')">
				{{CMN.homeTabList.tab2[CMN.selLang]}}
			</ion-segment-button>
			<ion-segment-button value="city" (click)="openNewsTop('city')">
				{{CMN.homeTabList.tab3[CMN.selLang]}}
			</ion-segment-button>
		</ion-segment>
	</div>
	<ion-list-header class="center color-danger" text-uppercase>
		{{CMN.menuList.link2[CMN.selLang]}}
	</ion-list-header>
	<ion-card *ngFor="let news of newsList" (click)="openNewsDetail()">
		<ion-card-header class="color-primary">
			{{news.title[CMN.selLang]}}
		</ion-card-header>
		<ion-card-content class="padding0">
			<img src="{{news.mediaSrc}}" *ngIf="news.mediaType == 'image'" />
			<video controls="controls" preload="metadata"  
				webkit-playsinline="webkit-playsinline" class="videoPlayer" width="100%"
				*ngIf="news.mediaType == 'video'">
				<source src="{{news.mediaSrc}}" 
					type="video/mp4"/>
			</video>
			<ion-list margin-top>
				<ion-item class="color-muted">
					<div item-left>
						{{news.createDate}}
					</div>
					<div item-right>
						{{news.city[CMN.selLang]}} - 
						{{news.state[CMN.selLang]}}
					</div>
				</ion-item>
			</ion-list>
			<div padding>
				{{news.description[CMN.selLang]}}
			</div>
		</ion-card-content>
	</ion-card>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-row>
			<ion-col width-33.33 (click)="openHome()">
				<button ion-button small clear icon-left block 
					class="btn-icon-top">
					<ion-icon name="home"></ion-icon>
					<p>{{CMN.btnLabelList.homeBtn[CMN.selLang]}}</p>
				</button>
			</ion-col>
			<ion-col width-33.33>
				<button ion-button small clear icon-left block
					class="btn-icon-top" (click)="showLangSelectModal()">
					<ion-icon name="megaphone"></ion-icon>
					<p>{{CMN.btnLabelList.langBtn[CMN.selLang]}}</p>
				</button>
			</ion-col>
			<ion-col width-33.33>
				<button ion-button small clear icon-left block
					class="btn-icon-top" (click)="showCitySelectModal()">
					<ion-icon name="pin"></ion-icon>
						<p>{{CMN.cityLabelList[CMN.selCity][CMN.selLang]}}</p>
				</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>