<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC2016
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{CMN.appTitleLabel[CMN.selLang]}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content class="formWrapper">
    <form [formGroup]="signupForm" (submit)="signupUser($event)">
		<ion-list padding>
			<ion-list>
				<h5 class="center" color="primary">Sign up</h5>
			    <ion-item>
					<ion-label stacked>Name</ion-label>
                    <ion-input formControlName="cName" type="text" placeholder="Enter name"
                        required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Contact Number</ion-label>
                    <ion-input formControlName="contactnumber" type="tel" placeholder="Enter contact number"
                         required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Email</ion-label>
					<ion-input formControlName="email" type="email" placeholder="Enter email address"
                        required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Password</ion-label>
                    <ion-input formControlName="password" type="password" placeholder="Enter password"
                         required></ion-input>
				</ion-item>
			</ion-list>
			<div padding>
				<button block ion-button text-uppercase type="submit">
					Submit
				</button>
			</div>
		</ion-list>
	</form>
</ion-content>