<ion-header>
	<ion-navbar danger>
		<ion-buttons start>
			<button ion-button icon-left
				(click)="close()">
				<ion-icon name="close"></ion-icon>
				Cancel
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-left
				(click)="changeCity(newSelCity)">
				<ion-icon name="checkbox-outline"></ion-icon>
				Done
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list radio-group [(ngModel)]="newSelCity" *ngFor="let cityState of CMN.cityStateList">
		<ion-item-divider text-uppercase>
			{{cityState.state[CMN.selLang]}}
		</ion-item-divider>
		<ion-item *ngFor="let city of cityState.cities">
			<ion-label>{{city.value[CMN.selLang]}}</ion-label>
			<ion-radio value="{{city.key}}" checked="{{(CMN.selCity == city.key ? true : false)}}"></ion-radio>
		</ion-item>
	</ion-list>
</ion-content>
