<ion-header>
	<ion-navbar danger>
		<ion-buttons start>
			<button ion-button icon-left
				(click)="close()">
				<ion-icon name="close"></ion-icon>
				Cancel
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-left
				(click)="changeLang(newSelLang)">
				<ion-icon name="checkbox-outline"></ion-icon>
				Done
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content>
	<ion-list radio-group [(ngModel)]="newSelLang">
		<ion-list-header text-uppercase>
			Language
		</ion-list-header>
		<ion-item *ngFor="let lang of langList">
			<ion-label>{{lang.label}}</ion-label>
			<ion-radio value="{{lang.value}}" checked="{{(CMN.selLang == lang.value ? true : false)}}"></ion-radio>
		</ion-item>
	</ion-list>
</ion-content>
