// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
	letter-spacing: 0.5px;
}
.btn-icon-top ion-icon {
	display: block;
	position: absolute;
}
.btn-icon-top p {
	display: block;
	position: absolute;
	margin: 18px 0;
}
.btn-icon-top {
	padding: 10px 0 25px 0;
}

.rating-wrap ion-label {
	margin: 13px 8px 0px 0;
}
.rating-disp {
	margin-top: 5px;
}
.rating-disp p, .rating-disp-fav p {
	padding: 5px 0px;
}
.user-name-wrap p {
	padding: 5px;
}
.icon-star-wrap {
	font-size: 3rem !important;
}
ion-badge {
	font-weight: 300 !important;
}
.appLogoIcon {
    width: 32px;
    height: 24px;
    float: right;
}

.segment-button ion-icon {
	font-size: 1.3rem !important;
}
.center{
	text-align:center!important;
}

.btnIcon {
	margin: 10px;
    width: 20px;
}

.margin0 {
	margin: 0 !important;
}
.marginTop70 {
	margin-top: 70px;
}

.bottomFix {
	position: fixed;
	bottom: 50px;
	width: 80%;
	left: 10%;
}

.centerFix {
	position: fixed;
	bottom: 50%;
	width: 80%;
	left: 10%;
}

.decorCard {
	border-bottom: 3px solid #FF6347 !important;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.decorBottmBlue {
	border-bottom: 3px solid #387ef5 !important;
}
.displayInline {
	display: inline;
}
.displayBlock {
	display: block;
}

.padding0 {
	padding: 0 !important;
}

.paddingTop0 {
	padding-top: 0 !important;
}
.paddingBottom0 {
	padding-bottom: 0 !important;
}
.paddingLeft0 {
	padding-left: 0 !important;
}
.fontClearUpper {
	font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #333;
    background: transparent;
}
.fontWeight300 { 
	font-weight: 300 !important;
}
.floatRight {
	float:right;
}
.textRight {
	text-align: right;
}
.color-white {
	color: #fff !important;
}
.color-primary {
	color: #387ef5 !important;
}
.color-danger {
	color: #f53d3d !important;
}
.color-muted {
	color: #717171 !important;
}
.color-green {
	color: #69BB7B !important;
}
.color-orange {
	color: #FF6347 !important;
}
.color-facebook {
	color: #4060A2 !important;
}
.color-twitter {
	color: #10A8E9 !important;
}
.color-google-plus {
	color: #F53F29 !important;
}
.color-whatsapp {
	color: #47DC2A !important;
}
.background-light {
	background-color: #f4f4f4 !important;
}