<ion-menu [content]="content">
	<ion-header>
		<ion-toolbar>
			<ion-title>CW :)</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
	    <!-- <img src="{{CMN.CWLOGO}}" 
	            class="auth-img profileImg"> -->
	    <ion-list *ngIf="isLoggedIn==false">
			<button ion-item 
				*ngFor="let p of pagesDefault" (click)="openPage(p)">
				<ion-icon name="{{p.icon}}" class="btnIcon"></ion-icon>
				{{p.title[CMN.selLang]}}
			</button>
		</ion-list>
		<ion-list *ngIf="isLoggedIn==true">
			<button ion-item 
				*ngFor="let p of pagesAdmin" (click)="openPage(p)">
				<ion-icon name="{{p.icon}}" class="btnIcon"></ion-icon>
				{{p.title[CMN.selLang]}}
			</button>
		</ion-list>
	</ion-content>
	<ion-footer>
	</ion-footer>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
