<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
			<ion-title>AN
				<img src="img/czz.jpg" class="appLogoIcon"/>
			</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div padding>
		<ion-segment>
			<ion-segment-button value="national" (click)="openNewsTop('national')">
				{{CMN.homeTabList.tab1[CMN.selLang]}}
			</ion-segment-button>
			<ion-segment-button value="state" (click)="openNewsTop('state')">
				{{CMN.homeTabList.tab2[CMN.selLang]}}
			</ion-segment-button>
			<ion-segment-button value="city" (click)="openNewsTop('city')">
				{{CMN.homeTabList.tab3[CMN.selLang]}}
			</ion-segment-button>
		</ion-segment>
	</div>
	<ion-list-header class="center color-danger" text-uppercase *ngFor="let news of detaiNewsList">
		{{news.title[CMN.selLang]}}
	</ion-list-header>
	<ion-card *ngFor="let news of detaiNewsList">
		<ion-card-content margin class="padding0">
			<img src="{{news.mediaSrc}}" *ngIf="news.mediaType == 'image'" />
			<!-- <video width="100%">
				<source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4"/>
			</video> -->
			<ion-list margin-top>
				<ion-item class="color-muted">
					<div item-left>
						{{news.createDate}}
					</div>
					<div item-right>
						{{news.city[CMN.selLang]}} - 
						{{news.state[CMN.selLang]}}
					</div>
				</ion-item>
			</ion-list>
			<ion-item-divider class="padding0">
				<ion-row text-center>
					<ion-col width-25>
						<ion-icon name="logo-facebook" class="color-facebook"></ion-icon>
					</ion-col>
					<ion-col width-25>
						<ion-icon name="logo-twitter" class="color-twitter"></ion-icon>
					</ion-col>
					<ion-col width-25>
						<ion-icon name="logo-googleplus" class="color-google-plus"></ion-icon>
					</ion-col>
					<ion-col width-25>
						<ion-icon name="logo-whatsapp" class="color-whatsapp "></ion-icon>
					</ion-col>
				</ion-row>
			</ion-item-divider>
			<div>
				<div class="color-muted">
					{{CMN.selLang == 'ENG' ? CMN.cmnLabelList.BY[CMN.selLang] : ''}}
					{{news.correspondentName[CMN.selLang]}} 
					{{CMN.selLang == 'HINDI' ? CMN.cmnLabelList.BY[CMN.selLang] : ''}}
				</div>
				{{news.description[CMN.selLang]}}
			</div>
		</ion-card-content>
	</ion-card>
	<ion-list-header class="center color-white" text-uppercase color="orange">
			{{CMN.detailList.listHeader[CMN.selLang]}}
	</ion-list-header>
	<ion-card  *ngFor="let news of retNewsList">
		<ion-item>
			<ion-thumbnail item-left>
				<img src="{{news.mediaSrc}}" *ngIf="news.mediaType == 'image'" />
			</ion-thumbnail>
			<div item-left>
				{{news.title[CMN.selLang]}}
			</div>
		</ion-item>
	</ion-card>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-row>
			<ion-col width-33.33 (click)="openHome()">
				<button ion-button small clear icon-left block 
					class="btn-icon-top">
					<ion-icon name="home"></ion-icon>
					<p>{{CMN.btnLabelList.homeBtn[CMN.selLang]}}</p>
				</button>
			</ion-col>
			<ion-col width-33.33>
				<button ion-button small clear icon-left block
					class="btn-icon-top" (click)="showLangSelectModal()">
					<ion-icon name="megaphone"></ion-icon>
					<p>{{CMN.btnLabelList.langBtn[CMN.selLang]}}</p>
				</button>
			</ion-col>
			<ion-col width-33.33>
				<button ion-button small clear icon-left block
					class="btn-icon-top" (click)="showCitySelectModal()">
					<ion-icon name="pin"></ion-icon>
						<p>{{CMN.cityLabelList[CMN.selCity][CMN.selLang]}}</p>
				</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>