<!-- 
 Author (s): Ankit Maheshwari, 
             Pradeep Choudhary
 Date:27DEC201616
 Copyright Notice: 
 @(#)
 Description: 
 -->

<ion-header>
	<ion-navbar danger>
		<ion-title>Add Contact</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="formWrapper">
	<form [formGroup]="addContactForm" (submit)="addContactUser($event)">
		<ion-list padding>
			<ion-list>
			<h5 class="center" color="primary"></h5>
			    <ion-item>
					<ion-label stacked>Name</ion-label>
                    <ion-input formControlName="name" type="text" placeholder="Enter name"
                        required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Contact Number</ion-label>
                    <ion-input formControlName="contactnumber" type="tel" placeholder="Enter contact number"
                         required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>City</ion-label>
					<ion-input formControlName="city" type="text" placeholder="Enter city"
                        required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Address (optional)</ion-label>
                    <ion-input formControlName="address" type="text" placeholder="Enter address"
                         ></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Arrived by</ion-label>
					<ion-select formControlName="arrivedBy" [(ngModel)]="arrivedBy" required>
						<ion-option value="train">Train</ion-option>
						<ion-option value="flight">Flight</ion-option>
						<ion-option value="bus">Bus</ion-option>
					</ion-select>
				</ion-item>
			    <ion-item>
					<ion-label stacked>Arrival Detail</ion-label>
                    <ion-input formControlName="arrivalDetail" type="text" placeholder="Enter flight/train name, no. etc.."
                        ></ion-input>
				</ion-item>
				<ion-item>
					<ion-label>Arrival time</ion-label>
					<ion-datetime required formControlName="arrivalTime" displayFormat="DD MMM, YYYY h:mm A" [(ngModel)]="event.timeStarts" 
						 min="2017-01-12" max="2017-01-17">
					</ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label>Check In-Out</ion-label>
					<ion-select formControlName="checkInOut" [(ngModel)]="checkInOut" required>
						<ion-option value="h">Not Check In Yet</ion-option>
						<ion-option value="checkIn">Check In</ion-option>
						<ion-option value="checkOut">Check Out</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label>16/01/2017</ion-label>
					<ion-checkbox formControlName="bookingForDay1" [(ngModel)]="bookingForDay1"></ion-checkbox>
				</ion-item>
				<ion-item>
					<ion-label>17/01/2017</ion-label>
					<ion-checkbox formControlName="bookingForDay2" [(ngModel)]="bookingForDay2"></ion-checkbox>
				</ion-item>
				<ion-item>
					<ion-label>Remark</ion-label>
					<ion-textarea formControlName="remark" rows="2" placeholder="Enter Remark"></ion-textarea>
				</ion-item>
			</ion-list>
			<div>
				<button block ion-button text-uppercase type="submit">
					Submit
				</button>
			</div>
		</ion-list>
	</form>
</ion-content>