<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Share This App
			<img src="img/czz.jpg" class="appLogoIcon"/>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-item>
			<ion-thumbnail item-left>
				<img src="img/social/facebook.png">
			</ion-thumbnail>
			<button ion-button small clear>Share this App</button>
			<br>
			<button ion-button small clear>Like us on Facebook</button>
		</ion-item>
	</ion-card>
	<ion-card>
		<ion-item>
			<ion-thumbnail item-left>
				<img src="img/social/instagram.png">
			</ion-thumbnail>
			<button ion-button small clear>Share this App</button>
			<br>
			<button ion-button small clear>Follow us on Instagram</button>
		</ion-item>
	</ion-card>
	<ion-card>
		<ion-item>
			<ion-thumbnail item-left>
				<img src="img/social/twitter.png">
			</ion-thumbnail>
			<button ion-button small clear>Share this App</button>
			<br>
			<button ion-button small clear>Follow us on Twitter</button>
		</ion-item>
	</ion-card>
	<ion-card>
		<ion-item>
			<ion-thumbnail item-left>
				<img src="img/social/google-plus.png">
			</ion-thumbnail>
			<button ion-button small clear>Share this App</button>
			<br>
			<button ion-button small clear>Follow us on Google+</button>
		</ion-item>
	</ion-card>
	<ion-card>
		<ion-item>
			<ion-thumbnail item-left>
				<img src="img/social/whatsapp.png">
			</ion-thumbnail>
			<button ion-button small clear>Share this App</button>
		</ion-item>
	</ion-card>
</ion-content>