<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
			<ion-title>AN
				<img src="img/czz.jpg" class="appLogoIcon"/>
			</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div padding>
		<ion-segment>
			<ion-segment-button value="national" (click)="openNewsTop('national')">
				{{CMN.homeTabList.tab1[CMN.selLang]}}
			</ion-segment-button>
			<ion-segment-button value="state" (click)="openNewsTop('state')">
				{{CMN.homeTabList.tab2[CMN.selLang]}}
			</ion-segment-button>
			<ion-segment-button value="city" (click)="openNewsTop('city')">
				{{CMN.homeTabList.tab3[CMN.selLang]}}
			</ion-segment-button>
		</ion-segment>
	</div>
	<ion-list-header class="center color-danger" text-uppercase>
		{{newsBottomHeaderLabel[CMN.selLang]}}
	</ion-list-header>
	<ion-card  *ngFor="let news of retNewsList" (click)="openNewsDetail()">
		<ion-item>
			<ion-thumbnail item-left>
				<img src="{{news.mediaSrc}}" *ngIf="news.mediaType == 'image'" />
			</ion-thumbnail>
			<div item-left>
				{{news.title[CMN.selLang]}}
			</div>
		</ion-item>
	</ion-card>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<ion-row>
			<ion-col width-33.33 (click)="openHome()">
				<button ion-button small clear icon-left block 
					class="btn-icon-top">
					<ion-icon name="home"></ion-icon>
					<p>{{CMN.btnLabelList.homeBtn[CMN.selLang]}}</p>
				</button>
			</ion-col>
			<ion-col width-33.33>
				<button ion-button small clear icon-left block
					class="btn-icon-top" (click)="showLangSelectModal()">
					<ion-icon name="megaphone"></ion-icon>
					<p>{{CMN.btnLabelList.langBtn[CMN.selLang]}}</p>
				</button>
			</ion-col>
			<ion-col width-33.33>
				<button ion-button small clear icon-left block
					class="btn-icon-top" (click)="showCitySelectModal()">
					<ion-icon name="pin"></ion-icon>
						<p>{{CMN.cityLabelList[CMN.selCity][CMN.selLang]}}</p>
				</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>